spring:
  datasource:
    name: druid
    type: com.alibaba.druid.pool.DruidDataSource
    #druid相关配置
    druid:
      #监控统计拦截的filters
      filters: stat
      driver-class-name: com.mysql.cj.jdbc.Driver
      #基本属性
      url: jdbc:mysql://10.122.61.153:3306/margindb?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false&&rewriteBatchedStatements=true&serverTimezone=GMT%2B8
      username: root
      password: 123456
      #配置初始化大小/最小/最大
      initial-size: 1
      min-idle: 1
      max-active: 20
      #获取连接等待超时时间
      max-wait: 60000
      #间隔多久进行一次检测，检测需要关闭的空闲连接
      time-between-eviction-runs-millis: 60000
      #一个连接在池中最小生存的时间
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      #打开PSCache，并指定每个连接上PSCache的大小。oracle设为true，mysql设为false。分库分表较多推荐设置为false
      pool-prepared-statements: false
      max-pool-prepared-statement-per-connection-size: 20

################ Redis 基础配置 ##############
  # Redis数据库索引（默认为0）
  redis:
    database: 0
    # Redis服务器地址
    host: 127.0.0.1
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password: 123456789
    # 链接超时时间 单位 ms（毫秒）
    timeout: 6000
    ################ Redis 线程池设置 ##############
    lettuce:
      pool:
        max-active: 100   # 连接池最大连接数（使用负值表示没有限制） 默认 8
        max-wait: -1    # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
        max-idle: -1     # 连接池中的最大空闲连接 默认 8
        min-idle: 0     # 连接池中的最小空闲连接 默认 0
  cache:
    redis:
      time-to-live: -1

mybatis:
  mapper-locations: classpath:*mapping/*.xml,classpath:*mapping/ext/*.xml

server:
  #端口号
  port: 8081

logging:
  config: classpath:logback-spring.xml

pagehelper:
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
  helper-dialect: mysql

