<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.vro.pricing.mapper.CostTapeBufferMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.vro.pricing.entity.CostTapeBuffer">
    <id column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="buffer" jdbcType="DECIMAL" property="buffer" />
  </resultMap>
  <sql id="Base_Column_List">
    bu, buffer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cost_tape_buffer
    where bu = #{bu,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cost_tape_buffer
    where bu = #{bu,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lenovo.vro.pricing.entity.CostTapeBuffer">
    insert into cost_tape_buffer (bu, buffer)
    values (#{bu,jdbcType=VARCHAR}, #{buffer,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.vro.pricing.entity.CostTapeBuffer">
    insert into cost_tape_buffer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bu != null">
        bu,
      </if>
      <if test="buffer != null">
        buffer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="buffer != null">
        #{buffer,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.vro.pricing.entity.CostTapeBuffer">
    update cost_tape_buffer
    <set>
      <if test="buffer != null">
        buffer = #{buffer,jdbcType=DECIMAL},
      </if>
    </set>
    where bu = #{bu,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.CostTapeBuffer">
    update cost_tape_buffer
    set buffer = #{buffer,jdbcType=DECIMAL}
    where bu = #{bu,jdbcType=VARCHAR}
  </update>
</mapper>