<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.vro.pricing.mapper.CostTapeOrderMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.vro.pricing.entity.ext.CostTapeOrderExt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="local_currency" jdbcType="VARCHAR" property="localCurrency" />
    <result column="exchange_rates" jdbcType="DECIMAL" property="exchangeRates" />
    <result column="rebate" jdbcType="DECIMAL" property="rebate" />
    <result column="fulfilment" jdbcType="VARCHAR" property="fulfilment" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_name, region, country, local_currency, exchange_rates, rebate, fulfilment, 
    user_id, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cost_tape_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cost_tape_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lenovo.vro.pricing.entity.CostTapeOrder">
    insert into cost_tape_order (id, order_name, region, 
      country, local_currency, exchange_rates, 
      rebate, fulfilment, user_id, 
      insert_time)
    values (#{id,jdbcType=INTEGER}, #{orderName,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{localCurrency,jdbcType=VARCHAR}, #{exchangeRates,jdbcType=DECIMAL}, 
      #{rebate,jdbcType=DECIMAL}, #{fulfilment,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.lenovo.vro.pricing.entity.CostTapeOrder">
    insert into cost_tape_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderName != null">
        order_name,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="localCurrency != null">
        local_currency,
      </if>
      <if test="exchangeRates != null">
        exchange_rates,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="fulfilment != null">
        fulfilment,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderName != null">
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="localCurrency != null">
        #{localCurrency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRates != null">
        #{exchangeRates,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="fulfilment != null">
        #{fulfilment,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.vro.pricing.entity.CostTapeOrder">
    update cost_tape_order
    <set>
      <if test="orderName != null">
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="localCurrency != null">
        local_currency = #{localCurrency,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRates != null">
        exchange_rates = #{exchangeRates,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="fulfilment != null">
        fulfilment = #{fulfilment,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.CostTapeOrder">
    update cost_tape_order
    set order_name = #{orderName,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      local_currency = #{localCurrency,jdbcType=VARCHAR},
      exchange_rates = #{exchangeRates,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=DECIMAL},
      fulfilment = #{fulfilment,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>