<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.vro.pricing.mapper.CostTapeListMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.vro.pricing.entity.CostTapeList">
    <id column="cost_id" jdbcType="INTEGER" property="costId" />
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="warranty_code" jdbcType="VARCHAR" property="warrantyCode" />
    <result column="plant" jdbcType="VARCHAR" property="plant" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="product_family" jdbcType="VARCHAR" property="productFamily" />
    <result column="geo" jdbcType="VARCHAR" property="geo" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="bmc" jdbcType="DECIMAL" property="bmc" />
    <result column="nbmc" jdbcType="DECIMAL" property="nbmc" />
    <result column="tmc" jdbcType="DECIMAL" property="tmc" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="pricing" jdbcType="DECIMAL" property="pricing" />
    <result column="air_cost" jdbcType="DECIMAL" property="airCost" />
    <result column="fundings" jdbcType="DECIMAL" property="fundings" />
    <result column="adj_cost" jdbcType="DECIMAL" property="adjCost" />
    <result column="rebate" jdbcType="VARCHAR" property="rebate" />
    <result column="mbg_freight_id" jdbcType="INTEGER" property="mbgFreightId" />
    <result column="tmc_percent" jdbcType="DECIMAL" property="tmcPercent" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="category_type" jdbcType="VARCHAR" property="categoryType" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    cost_id, id, pid, part_number, warranty_code, plant, country, product_family, geo, 
    description, brand, bmc, nbmc, tmc, qty, pricing, air_cost, fundings, adj_cost, rebate, 
    mbg_freight_id, tmc_percent, type, category_type, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.CostTapeListKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cost_tape_list
    where cost_id = #{costId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.CostTapeListKey">
    delete from cost_tape_list
    where cost_id = #{costId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lenovo.vro.pricing.entity.CostTapeList">
    insert into cost_tape_list (cost_id, id, pid, 
      part_number, warranty_code, plant, 
      country, product_family, geo, 
      description, brand, bmc, 
      nbmc, tmc, qty, pricing, 
      air_cost, fundings, adj_cost, 
      rebate, mbg_freight_id, tmc_percent, 
      type, category_type, insert_time
      )
    values (#{costId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{partNumber,jdbcType=VARCHAR}, #{warrantyCode,jdbcType=VARCHAR}, #{plant,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{productFamily,jdbcType=VARCHAR}, #{geo,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{bmc,jdbcType=DECIMAL}, 
      #{nbmc,jdbcType=DECIMAL}, #{tmc,jdbcType=DECIMAL}, #{qty,jdbcType=INTEGER}, #{pricing,jdbcType=DECIMAL}, 
      #{airCost,jdbcType=DECIMAL}, #{fundings,jdbcType=DECIMAL}, #{adjCost,jdbcType=DECIMAL}, 
      #{rebate,jdbcType=VARCHAR}, #{mbgFreightId,jdbcType=INTEGER}, #{tmcPercent,jdbcType=DECIMAL}, 
      #{type,jdbcType=VARCHAR}, #{categoryType,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.vro.pricing.entity.CostTapeList">
    insert into cost_tape_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costId != null">
        cost_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="partNumber != null">
        part_number,
      </if>
      <if test="warrantyCode != null">
        warranty_code,
      </if>
      <if test="plant != null">
        plant,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="productFamily != null">
        product_family,
      </if>
      <if test="geo != null">
        geo,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="bmc != null">
        bmc,
      </if>
      <if test="nbmc != null">
        nbmc,
      </if>
      <if test="tmc != null">
        tmc,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="pricing != null">
        pricing,
      </if>
      <if test="airCost != null">
        air_cost,
      </if>
      <if test="fundings != null">
        fundings,
      </if>
      <if test="adjCost != null">
        adj_cost,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
      <if test="mbgFreightId != null">
        mbg_freight_id,
      </if>
      <if test="tmcPercent != null">
        tmc_percent,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costId != null">
        #{costId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="partNumber != null">
        #{partNumber,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCode != null">
        #{warrantyCode,jdbcType=VARCHAR},
      </if>
      <if test="plant != null">
        #{plant,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="productFamily != null">
        #{productFamily,jdbcType=VARCHAR},
      </if>
      <if test="geo != null">
        #{geo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="bmc != null">
        #{bmc,jdbcType=DECIMAL},
      </if>
      <if test="nbmc != null">
        #{nbmc,jdbcType=DECIMAL},
      </if>
      <if test="tmc != null">
        #{tmc,jdbcType=DECIMAL},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="pricing != null">
        #{pricing,jdbcType=DECIMAL},
      </if>
      <if test="airCost != null">
        #{airCost,jdbcType=DECIMAL},
      </if>
      <if test="fundings != null">
        #{fundings,jdbcType=DECIMAL},
      </if>
      <if test="adjCost != null">
        #{adjCost,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=VARCHAR},
      </if>
      <if test="mbgFreightId != null">
        #{mbgFreightId,jdbcType=INTEGER},
      </if>
      <if test="tmcPercent != null">
        #{tmcPercent,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.vro.pricing.entity.CostTapeList">
    update cost_tape_list
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="partNumber != null">
        part_number = #{partNumber,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCode != null">
        warranty_code = #{warrantyCode,jdbcType=VARCHAR},
      </if>
      <if test="plant != null">
        plant = #{plant,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="productFamily != null">
        product_family = #{productFamily,jdbcType=VARCHAR},
      </if>
      <if test="geo != null">
        geo = #{geo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="bmc != null">
        bmc = #{bmc,jdbcType=DECIMAL},
      </if>
      <if test="nbmc != null">
        nbmc = #{nbmc,jdbcType=DECIMAL},
      </if>
      <if test="tmc != null">
        tmc = #{tmc,jdbcType=DECIMAL},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="pricing != null">
        pricing = #{pricing,jdbcType=DECIMAL},
      </if>
      <if test="airCost != null">
        air_cost = #{airCost,jdbcType=DECIMAL},
      </if>
      <if test="fundings != null">
        fundings = #{fundings,jdbcType=DECIMAL},
      </if>
      <if test="adjCost != null">
        adj_cost = #{adjCost,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=VARCHAR},
      </if>
      <if test="mbgFreightId != null">
        mbg_freight_id = #{mbgFreightId,jdbcType=INTEGER},
      </if>
      <if test="tmcPercent != null">
        tmc_percent = #{tmcPercent,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cost_id = #{costId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.CostTapeList">
    update cost_tape_list
    set pid = #{pid,jdbcType=INTEGER},
      part_number = #{partNumber,jdbcType=VARCHAR},
      warranty_code = #{warrantyCode,jdbcType=VARCHAR},
      plant = #{plant,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      product_family = #{productFamily,jdbcType=VARCHAR},
      geo = #{geo,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      bmc = #{bmc,jdbcType=DECIMAL},
      nbmc = #{nbmc,jdbcType=DECIMAL},
      tmc = #{tmc,jdbcType=DECIMAL},
      qty = #{qty,jdbcType=INTEGER},
      pricing = #{pricing,jdbcType=DECIMAL},
      air_cost = #{airCost,jdbcType=DECIMAL},
      fundings = #{fundings,jdbcType=DECIMAL},
      adj_cost = #{adjCost,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=VARCHAR},
      mbg_freight_id = #{mbgFreightId,jdbcType=INTEGER},
      tmc_percent = #{tmcPercent,jdbcType=DECIMAL},
      type = #{type,jdbcType=VARCHAR},
      category_type = #{categoryType,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where cost_id = #{costId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>