<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.vro.pricing.mapper.WarrantyMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.vro.pricing.entity.Warranty">
    <id column="country" jdbcType="VARCHAR" property="country" />
    <id column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="warranty_code" jdbcType="VARCHAR" property="warrantyCode" />
    <result column="sub_geo" jdbcType="VARCHAR" property="subGeo" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="nbmc" jdbcType="DECIMAL" property="nbmc" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    country, part_number, type, warranty_code, sub_geo, brand, nbmc, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.WarrantyKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warranty
    where country = #{country,jdbcType=VARCHAR}
      and part_number = #{partNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.WarrantyKey">
    delete from warranty
    where country = #{country,jdbcType=VARCHAR}
      and part_number = #{partNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lenovo.vro.pricing.entity.Warranty">
    insert into warranty (country, part_number, type, 
      warranty_code, sub_geo, brand, 
      nbmc, insert_time)
    values (#{country,jdbcType=VARCHAR}, #{partNumber,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{warrantyCode,jdbcType=VARCHAR}, #{subGeo,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{nbmc,jdbcType=DECIMAL}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.vro.pricing.entity.Warranty">
    insert into warranty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="country != null">
        country,
      </if>
      <if test="partNumber != null">
        part_number,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="warrantyCode != null">
        warranty_code,
      </if>
      <if test="subGeo != null">
        sub_geo,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="nbmc != null">
        nbmc,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="partNumber != null">
        #{partNumber,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCode != null">
        #{warrantyCode,jdbcType=VARCHAR},
      </if>
      <if test="subGeo != null">
        #{subGeo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="nbmc != null">
        #{nbmc,jdbcType=DECIMAL},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.vro.pricing.entity.Warranty">
    update warranty
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="warrantyCode != null">
        warranty_code = #{warrantyCode,jdbcType=VARCHAR},
      </if>
      <if test="subGeo != null">
        sub_geo = #{subGeo,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="nbmc != null">
        nbmc = #{nbmc,jdbcType=DECIMAL},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where country = #{country,jdbcType=VARCHAR}
      and part_number = #{partNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.vro.pricing.entity.Warranty">
    update warranty
    set type = #{type,jdbcType=VARCHAR},
      warranty_code = #{warrantyCode,jdbcType=VARCHAR},
      sub_geo = #{subGeo,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      nbmc = #{nbmc,jdbcType=DECIMAL},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where country = #{country,jdbcType=VARCHAR}
      and part_number = #{partNumber,jdbcType=VARCHAR}
  </update>
</mapper>